<h1>Listing need_cards</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @need_cards.each do |need_card| %>
      <tr>
        <td><%= need_card.category %></td>
        <td><%= need_card.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Need card', new_need_card_path %>
